/* Root */
:root {
    --backgroundColor: rgb(80, 220, 170);
    --gridColor: rgb(130, 270, 220);
    --activeBoxColor: rgb(108, 218, 231);
    --borderColor: black;
    --textColor: black;
    --barsBackgroundColor: white;
}

/* Font */
html, button, select {
    font-family: 'Press Start 2P', cursive;
}

/* Body */
body {
    margin: 0;
    background-color: var(--backgroundColor);
}

/* Header */
    header {
        position: fixed;
        width: 100%;
        top: 0;
        background-color: var(--barsBackgroundColor);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    header select,
    header button {
        text-align: center;
        background-color: var(--barsBackgroundColor);
        border: 1px solid var(--borderColor);
        border-radius: 20px;
        font-size: 0.8rem;
        padding: 8px;
        margin: 0 1rem 0 1rem
    }

    header h2 {
        margin: 1rem;
        font-size: 1.5rem;
    }



/* Main */
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* Grid */
    .grid {
        width: 60%;
        max-width: 500px;
        min-width: 420px;
        aspect-ratio: 1 / 1;
        border: 2px solid var(--borderColor);
        display: grid;
        cursor: crosshair;
        
    }

    .box {
        border: 1px solid var(--borderColor);
        color: var(--textColor);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--gridColor);
        transition: background-color 0.1s linear, color 0.1s linear;
        font-size: 0.8rem;    
    }

    .azure {
        background: var(--activeBoxColor);
        color: var(--textColor);
    }

/* Footer */
    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: var(--barsBackgroundColor);
    }

    footer h4 {
        font-size: 0.8rem;
        margin: 1rem;
    }